apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress-{{ .Values.environment }}
  namespace: {{ .Values.namespace }}
  labels:
    app: wordpress
    environment: {{ .Values.environment }}
spec:
  replicas: {{ .Values.wordpress.replicaCount }}
  selector:
    matchLabels:
      app: wordpress
      environment: {{ .Values.environment }}
  template:
    metadata:
      labels:
        app: wordpress
        environment: {{ .Values.environment }}
    spec:
      containers:
      - name: wordpress
        image: "{{ .Values.wordpress.image.repository }}:{{ .Values.wordpress.image.tag }}"
        imagePullPolicy: {{ .Values.wordpress.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.wordpress.service.port }}
          name: http
        env:
        - name: WORDPRESS_DB_HOST
          value: {{ .Values.wordpress.env.WORDPRESS_DB_HOST | quote }}
        - name: WORDPRESS_DB_NAME
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_DATABASE
        - name: WORDPRESS_DB_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_USER
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_PASSWORD
        resources:
          {{- toYaml .Values.wordpress.resources | nindent 10 }}
